*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
    border-left-style: none;
    text-decoration: none;
}

:root {
    --main-color:#ff0000;
    --text-color:rgb(242, 235, 235);
    --bg-color:#27222e;
    --big-font:3rem;
    --h2-font:2rem;
    --p-font:0.9rem;
}
*::selection{
    background: var(--main-color);
    color: #17161c;

}
body{
    color: var(--text-color);
    background-color: #111115;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px ;
    background: var(--bg-color);
} 
.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section{
    padding: 70px 17%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.home-img img{
    width: 800px;
    height:auto;
    align-items: center;
}

.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}
.tdmenu{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}
.tdmenu:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    
}
.about-img img{
    width: 600px;
    height: auto;
}
.about-text span{
    color: var(--main-color);
    font-weight: 700;
}
.about-text h2{
    font-size: var(--h2-font);
}
.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}

.heading{
    text-align: center;
}
.heading span{
    color: var(--main-color);
    font-weight: 600;
}
.heading h2{
    font-size: var(--h2-font);
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    grid: gap 1.5em;
    align-items: center;  
}
.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 0.5rem;   
}
.box-img{
    width: 220px;
    height: 220px;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.box h2{
    font-size: 1.3rem;
    color: yellowgreen;
}
.box h3{
    font-size: 1rem;
    color: beige;
    font-weight: 400;
    margin: 4px 0 10px;
}
.box span{
    font-size: var(--p-font);
    color: rgb(201, 201, 32)
    font-weight: 600;
}
.box .bx{
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 1%;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 0 0.5rem 0 0.5rem;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}
.s-box{
    text-align: center;
    padding: 20px 30px;
}
.s-box img{
    width: 180px
}
.s-box h3{
    margin: 4px 0 10px;
    color: var(--main-color);
    font-size: 1.2rem;
}
.s-box p{
    line-height: 1.7;
}
.start-c{
    background-color: #b8bcce;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10px;
}
.start-c h2{
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 30px;
}

html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #070617;
  }
  .dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  }
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .icon{
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: rgb(255, 255, 255);
}

.icon i{
    font-size: 20px;

}
.icon:hover{
    background-image: conic-gradient(rgb(150, 57, 255), rgb(204, 204, 181), rgb(1, 8, 1));
    /*background color:color: */
    color: blanchedalmond;
}